body{
    background-color: rgb(150, 150, 219);
    padding: 20px;
    margin: 15px;
}
#hng{
    color:aquamarine;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn{
    cursor: pointer;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#btn2{
    cursor: pointer;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.box {
    width: 20vw;     
    height:60vh;
    display: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: blueviolet;
    position:relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
    min-width: 20rem;
    min-height: 35rem;
}

.wave{
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
}
.wave -three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave -two {
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0,0,0);
}
@keyframes drift {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.navheading{
    background-color: cadetblue;
    font-size: 30px;
    font-weight: bold;
    text-shadow:2px 2px  floralwhite ;
    text-transform: uppercase;
    animation: mymove 5s infinite;
    outline-style: dotted;
}
@keyframes mymove {
    from {background-color: forestgreen;}
    to {background-color: grey;}
  }

 